{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ piece.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ piece.composer }}</a></p> <!-- composer detail link not yet defined -->
  <p><strong>Summary:</strong> {{ piece.summary }}</p>
  <p><strong>ISBN:</strong> {{ piece.isbn }}</p>
  <p><strong>Language:</strong> {{ piece.language }}</p>
  <p><strong>Genre:</strong> {{ piece.genre.all|join:", " }}</p>
  <audio>
      <source src="{% static piece.filename %}" type="audio/mp3"/>
  </audio>
{% endblock %}
